gitdemo/src/main/mule/gitdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f6964450-f2f5-45b1-b4d8-bf0dacaaab92" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitdemoFlow" doc:id="b25536ad-fa3b-4b34-a012-b1f6d0e101cb" >
		<http:listener doc:name="Listener" doc:id="565f0b0d-134b-48ec-a700-318e27ecba93" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[&quot;Pritish's pen lost&quot;]" doc:name="Set Payload" doc:id="d6040149-b8a7-41cd-9023-0ef0cd5f46d4" />
	</flow>
</mule>
